* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
  border: 1px solid #a9a9a9;
  height: 190px;
}

/* Full-width input fields */
input,
select {
  width: 100%;
  padding: 8px;
  margin: 5px 0 2px 0;
  display: inline-block;
  border: 1px solid #a9a9a9;
  font-size: small;
  height: 35px;
  font-weight: bolder;
  /* background: #f1f1f1; */
}

input[type="text"]:focus,
select:focus {
  background-color: #ddd;
  /* border: 1px solid black; */
  /* outline: none; */
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

/* .App-header { */
/* background-color: none; */
/* min-height: 100vh; */
/* display: flex; */
/* flex-direction: column; */
/* align-items: center; */
/* justify-content: center; */
/* font-size: 30px; */
/* color: black; */
/* line-height: 60px; */
/* } */
.formfield {
  overflow: auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  background-color: white;
  /* border: 2px solid black; */
  margin: 20px;
  height: 750px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* line-height: 50px; */
  /* min-height: 100vh; */
  /* line-height: 50px; */
}
.description {
  height: 100px;
  width: 100%;
  border: 1px solid #a9a9a9;
}

.horizontal-group .left {
  float: left;
  width: 49%;
}

.horizontal-group .right {
  float: right;
  width: 49%;
}

.btn {
  padding: 10px;
  background-color: white;
  font-size: 17px;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  background-color: #21b613 !important;
  border-radius: 5px;
  float: right;
}

.btn1 {
  background-color: #4d5050 !important;
  padding: 10px;
  background-color: white;
  font-size: 17px;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  /* background-color: #21b613!important; */
  border-radius: 5px;
  float: right;
}

.btn2 {
  background-color: blue !important;
  padding: 10px;
  background-color: white;
  font-size: 17px;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  /* background-color: #21b613!important; */
  border-radius: 5px;
  float: right;
}

#Save {
  margin-right: 16px;
  /* margin-left: 200px; */
}

.form-header {
  background-color: rgb(255, 255, 255);
  color: #808080;
}

.bg-dark label {
  color: white;
}

.bg-dark .formfield,
.bg-dark .container,
.bg-dark input,
.bg-dark .description,
.bg-dark .form-header,
.bg-dark select {
  background-color: black;
  color: white;
}

.new {
  font-size: 40px;
  float: right;
  height: 64px;
  border: none;
  background-color: #61bf7d !important;
  cursor: pointer;
}

.new:hover {
  color: blue;
}

.error {
  color: #db2269;
  font-size: 0.8em;
  display: relative;
}

.Apptable {
  margin: 20px;
  min-height: 90.8vh;
  overflow: auto;
}

input:disabled {
  color: #8a8888;
  border: 1 px solid #8a8888;
}

.link {
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

.link:hover {
  text-decoration: underline;
  color: blue;
}

.Row {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
  text-align: right;
}
.Column {
  display: table-cell;
  /* background-color: red; */
  /* float: left; */
  /* text-align: left; */
}

.actiondrop {
  width: 300px;
}

.actionbtn {
  padding: 7px;
  background-color: white;
  font-size: 17px;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  background-color: #21b613 !important;
  border-radius: 5px;
  /* float: right; */
  margin-left: 10px;
}

.delay,
.unit {
  width: 60px;
  height: 50px;
  font-size: large;
  /* float: right; */
}

.unit {
  width: 100px;
  /* float: right; */
  margin-left: 10px;
}
.delay1 {
  /* float: right; */
}
.form-footer {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 5px;
  text-align: right;
  border-top: 1px solid black;
  clear: both;
  margin-top: 100px;
}

.Audioplayback {
  /* overflow: auto; */

  background-color: white;
  /* border: 2px solid black; */
  margin: 20px;
  /* height: 700px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 25px;
  border-radius: 10px;
}
.audioform-header {
  background-color: whitesmoke;
  color: #808080;
  border-top: 10px;
  height: 40px;
  /* padding: 3px; */
}
.insidediv {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  font-size: medium;
  margin-top: 20px;
}

.device {
  width: 300px;
  /* float: left; */
}

.Model {
  width: 200px;
  /* float: left; */
}

.Model1 {
  width: 280px;
  /* float: left; */
}
.filename {
  width: 150px;
  /* float: right; */
}
.delicon {
  float: right;
  margin: 10px;
  color: red;
  cursor: pointer;
}
.copyicon {
  float: right;
  margin: 10px;
  color: #02a871;
  cursor: pointer;
}
.Modeldiv {
  /* float: right; */
  margin-left: 58px;
}
.Modeldiv1 {
  /* float: right; */
  margin-left: auto;
}
.buttondiv {
  float: right;
}

.filediv {
  /* float: right; */
  margin-left: 37px;
}

.filediv1 {
  /* float: right; */
  margin-left: 55px;
}
.Lower,
.Upper {
  width: 50px;
}

.upperdiv,
.lowerdiv {
  margin-left: 12px;
}
.filenameinp {
  width: 30%;
}

.outconnector,
.waveform,
.outchannel,
.level,
.inconnector,
.frequency,
.inchannel,
.desci,
.samplerate,
.audiofromate {
  width: 300px;
}

.boxapx {
  border: 1px solid lightgray;
  border-radius: 10px;
}

.bottomdiv {
  /* border: 2px solid black; */
  width: 50%;
}

.map {
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 1px 6px 10px 1px #d4d4d4;
  font-weight: 500;
  margin: 0 15px;
  cursor: pointer;
  width: 250px;
  padding: 7px 14px;
}
.maprout {
  color: rgb(46, 184, 46);
}
.mapcaseview {
  background-color: #fff;
  border: 1px solid #007bff;
  color: #007bff;
  cursor: pointer;
  margin-left: 8px;
  padding: 0.25rem 0.5rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.mapcaseview:hover {
  background-color: #007bff;
  color: white;
}

.maprequire {
  display: inline;
}

.testactiondiv {
  margin-top: 20px;
}
.modal1 {
  float: right;
  border: none;
  background-color: white;
  color: black;
  font-weight: 900;
  cursor: pointer;
  font-size: larger;
}

.modal1:hover {
  color: red;
}
.maphead {
  border-bottom: 1px solid gray;
}

.btn_map{
  padding: 10px;
  background-color: white;
  font-size: 17px;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  background-color: #21b613 !important;
  border-radius: 5px;
  float: right;
}

.btn_map:disabled{
  color: #fff;
  opacity: .50;
  cursor: not-allowed;
}

.tss-gm6zfk-MUIDataTableHeadCell-fixedHeader {
  /* position: -webkit-sticky; */
  position: sticky;
  top: 0px;
  z-index: 100;
  /* background-color: #fff; */
}

element.style {
  position: fixed;
  inset: 0px;
  /* background-color: rgba(255, 255, 255, 0.75); */
}

.App2{
  line-height: 30px;
}