/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: black;
  line-height: 60px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
form {
  display: table;
  /* text-align: center; */
}

p {
  display: table-row;
}

label {
  display: table-cell;
  font-weight: 500;
}

input {
  display: table-cell;
  border: 1px solid black;
  height: 30px;
  font-size: 20px;
}

.head {
  color: green;
  font-weight: bolder;
}
.submit_button {
  border-radius: 10px;
  cursor: pointer;
}

.submit_button:hover {
  background-color: green;
  color: white;
}

/* .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 2em;
  border: 2px solid black;
} */

.use {
  /* width: 100%;
  height: 100%; */
  width: 20%;
  margin: 30px;
  padding: 30px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(250, 249, 249);
  color: black;
  line-height: 20px;
  font-size: larger;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#p {
  display: table-row;
}

#label {
  display: table-cell;
  font-weight: bolder;
}

.input {
  display: table-cell;
}
